@model CondorV.Models.BD.Role

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Role</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Designation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Designation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ControleTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ControleTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AucunDroit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AucunDroit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Creer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Creer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Modifier)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Modifier)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Supprimer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Supprimer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lecture)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lecture)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
