@model IEnumerable<CondorV.Models.BD.Role>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Designation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ControleTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AucunDroit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Creer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modifier)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Supprimer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lecture)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Designation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ControleTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AucunDroit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Creer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modifier)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Supprimer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lecture)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
