@model IEnumerable<CondorV.Models.BD.Site>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocalisationBarr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VillePlusProche)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HauteurBarr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DistVillePlusProche)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodeRetNormal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateMiseEnServ)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LaRetenue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Agence)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocalisationBarr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VillePlusProche)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HauteurBarr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DistVillePlusProche)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodeRetNormal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateMiseEnServ)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LaRetenue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Agence.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
