@model CondorV.Models.BD.Grandeur

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Grandeur</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomGrandeur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomGrandeur)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomAbrege)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomAbrege)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomComplet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomComplet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeGrandeur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeGrandeur.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Unite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Unite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocalisationBarr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocalisationBarr.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModeAcquisition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModeAcquisition)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FrequenceMesure)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FrequenceMesure)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecisionMesure)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecisionMesure)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoordonneeX)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoordonneeX)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoordonneeY)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoordonneeY)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoordonneeZ)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoordonneeZ)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Minimum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Minimum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Maximum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Maximum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValeurDexclusion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValeurDexclusion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProcessorId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProcessorId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProcessorUnitId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProcessorUnitId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberDecimalDigits)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberDecimalDigits)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodeAppareil)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodeAppareil)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HeureMBI)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HeureMBI)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateMBI)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateMBI)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValeurMBI)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValeurMBI)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PiezomPlusProche)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PiezomPlusProche)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LectureDeBase)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LectureDeBase)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Longueur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Longueur)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Calibre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Calibre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KlCalibrage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KlCalibrage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LineaireZero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LineaireZero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Site)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Site.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
